@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    text-align: center;
    background: #323232;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 92vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

img{
    width: 50%;
}

.figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 55px;
    background-color: #037f24;
    border-radius: 20px;
    margin-right: 100px;
}

h1{
    color: #cfff00;
    font-size: 50px;    
}

input{
    width: 140px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    background: #323232;
    color: white;
}

input::placeholder{
    color: #ccc3c3;
}

#real{
    border: 3px solid #cfff00;
}

p{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid #cfff00;
    border-radius: 10px;
    background: #323232;
    color: white;
}

button:hover{
    color: #323232;
    background: #cfff00;
    transition: 0.6s;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #19c449;
    transition: 0.6s;
}

.rod{
    color: white;
}

@media (max-width: 900px){
    .figure{
        display: flex;
        background-color: #323232;
        border-radius: 20px;
        margin-right: 100px;
    }

    .main{
        width: 50%;
    }

    img{
        width: 30%;
    }
}